# ---------- GitHub ----------
GITHUB_USER=2069127
GITHUB_REPO=fivem-launcher
GITHUB_BRANCH=main
REPO_VISIBILITY=public

# ---------- 启动器 ----------
BRAND_FULL=MzzPlork
BRAND_VER=V2.0
SERVER_CONNECT=6j44p8

EXE_PATH=./MzzPlork.exe
